.App {
  text-align: center;
  min-height: 160vh;
  
  background-image: linear-gradient(80deg,#e1f0e5,#ecf0e1,#ccc7ed);
  margin-top: 0vh;
  padding: 5vh;
  font-family: estsblished;

}
.googleButton-container {
  background-color: #5c94e1;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.codeListHeading{
  font-family: es;
  color: #1d2172;
  font-size: xx-large;

}
.addCodeBlock , .profilePageCoupon{
  padding: 2vh;
  border-block: solid;

}

.googleButton-container:hover {
  background-color: #c53727;
}
.copyButton{
  margin-left: 1vh;
  background-color: #f5f4f2;
  color: #b55172;
  border-radius: 10px;


}
button{
  border: #b55172;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #b55172;

}
.AddButton{
  margin-top: 2vh;
  font-size: medium;
  background-color: #b55172;
  color: #ffffff;
  border-radius: 10px;
}
.sign-out-butoon-container,.sign-up-button-container,.log-in-button-container{
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 5px;

}
.homepage-button, .profilepage-button{
  text-align: left;
  background-color: #b55172;
  color: aliceblue;
  align-items: baseline;
}
.navbar {
  background-color: #e1f0e5;
  padding: 7vh;
  height: 11vh;
  color: hsl(6, 67%, 46%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem {
  padding: 2vh 2vh;
  margin-left: 1vh;
  margin-bottom: 2vh;
  background-color: #ccc7ed;
  border-radius: 2vh;
  text-decoration: none;
  color: #333;
  font-family: es;
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .navItem {
    padding: 1vh 2vh;
    margin: 0.5vh;
    font-size: 14px;
  }
}


.profileItem, .howToUse{
  padding: 2vh 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #ccc7ed;
  border-radius: 2vh;
  text-decoration: none;
  font-family: es;
  margin-inline: 2vh;

}
.profileLinks{
  padding: 5vh 3vh;
  margin-inline: 2vh;
}
.howToUseList{
  text-align: left;
  font-size: larger;
}
.profileItemLink, .howToUse {
  text-decoration: none;
  color: #333;
}
header {
  background-color: rgb(177, 199, 226);
  color: rgb(19, 4, 4);
  padding: 20px;
  text-align: center;
  font-family: established;
}
.uploadedCoupHeading{
  margin-top: 2vh;

}
/* Styles for the title within the title bar */
header h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  font-family: es;
}
.intro{
  border-block: solid
}

.sign-in-container{
  color:rgb(15, 1, 1);
  margin-inline: 1vh;
  
}

.sign-in-with-google-container{
  margin-top: 5vh;
}


.App-link {
  color: #61dafb;
}

.profilePageText{
  font-size: large;
}
.couponCodeBox {
  outline: #333;
  outline-width: 1px;
}

